.container {
    width: 1000px;
    height: auto;
    background-color: silver;
    margin: 0px auto;
    overflow: hidden;
}

.top-nav {
    margin: 20px;
    height: 150px;
    background-color: green;
}

.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 13px;
}

.main {
    margin: 15px;
    height: 420px;
    width: 737px;
    background-color: red;
}

.sub-content {
    /* display: flex; */
    height: 200px;
    width: 210px;
    margin: 7px;
    background-color: yellow;
}

#advertisement {
    display: flex;
    height: 120px;
    width: 640px;
    margin: 13px;
    background-color: purple;
    padding-right: 20px;
}

.row {
    display: flex;
    margin: 8px;
    /* TODO - what should go here? */
}